/* 
    Document   : global.css
    Created on : 06/08/2010, 12:46:22 AM
    Author     : paulm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
   display: block;
}

body, table {
   font-size: 85%;
   font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

.floatLeft {
   float: left;
}

.floatRight {
   float: right;
}

.bold {
    font-weight: bold;
}

